#timer {
    width: 400px;
    margin-top: 400px;
    margin: 0 auto;
    padding: 20px;
    border: solid #5E81AC 2px;
    border-radius: 4px;
    background: #2E3440;
    color: #f8f8f8;
    font-family: Arial, Helvetica, sans-serif;
}

#currentBrick {
    margin: 0 auto;
    padding: 20px;
    border: solid #5E81AC 2px;
    border-radius: 4px;
}

.brick {
    border-bottom: solid #5E81AC 2px;
}

button {
    background: #4C566A;
    border: solid #f8f8f8 2px;
    border-radius: 2px;
    color: #f8f8f8;
    margin: 2px !important;
}

ul {
    margin-top: 10px !important;
}